#about{
    li{
        margin-bottom: 15px;
    }

 div .custom-bullet a{
    color: #008079 !important;
    }
    

}

.lead a{
    color: rgba(0,128,121, 0.99) !important;
}

.line p{
    font-size: 1rem;
    font-weight: 400;
    line-height: 1.5;
}
